/test.aux
/testing3.tex
/*.log
/test.pdf
/test.tex
/test2.org
/testing.org
/testing.pdf
/testing.tex
/testing2.aux
/testing2.org
/*.out
/testing2.tex
/testing3-01.png
/testing3.org
/testing3.pdf
/*.png
auto/
/.ipynb_checkpoints/
/presentacion.tex
*.bbl
*.ent
/series-tiempo.pdf
/series-tiempo.tex
